{{#if error}}
	<div>{{error}}</div>
{{/if}}
{{#if help}}
	<div>{{{help}}}</div>
{{/if}}
{{#if wolfram}}
	<div>{{{wolfram}}}</div>
{{/if}}
{{#if google}}
<div>
<script>
  (function() {
    var cx = '002463612160728276092:tk8fmbtix2g';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search-resultsonly></gcse:search-resultsonly>
</div>
{{/if}}
{{#if image}}
	<img class='img' src='{{image.url}}'>
{{/if}}
{{#if message}}
	<div>{{username}}: {{{message}}}</div>
{{/if}}
