{{#if error}}
	<div>{{error}}</div>
{{/if}}
{{#if help}}
	<div>{{{help}}}</div>
{{/if}}
{{#if image}}
	<img class='img' src='{{image.url}}' width={{image.width}}>
{{/if}}
{{#if message}}
	<div>{{username}}: {{{message}}}</div>
{{/if}}
